@import "mocha.css";

* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 16px;
  border-radius: 0px;
  margin: 0;
  padding: 0;
}

window#waybar {
  margin: 4px 10px;
  background: alpha(@crust, 0);
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 4px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 4px;
  margin-left: 8px;
  padding: 4px 10px;
  background: @crust;
  color: @sky;
  border-radius: 8px;
}

button:hover {
  background: inherit;
  box-shadow: none;
}

#workspaces {
  color: @lavender;
  background: @crust;
  border-radius: 8px;
  margin-top: 4px;
  padding: 0px 4px;
}

#workspaces button {
  transition: none;
  color: @surface0;
  padding-left: 6px;
  padding-right: 10px;
  border-radius: 8px;
}

#workspaces button.active {
  color: @lavender;
  border-radius: 8px;
}

#workspaces button:hover {
  color: @blue;
  border-radius: 8px;
  box-shadow: none;
  font-weight: normal;
}

#network,
#pulseaudio,
#clock,
#memory,
#cpu,
#tray,
#cava,
#custom-launcher,
#custom-power,
#custom-wallpaper,
#custom-updates,
#custom-spotify,
#custom-media,
#custom-cava,
#custom-window {
  transition: none;
  margin-top: 4px;
  margin-left: 8px;
  padding: 4px 12px;
  border-radius: 8px;
  background: @crust;
  /* box-shadow: 0px 1px 2px 0px #000000; */
}

#network {
  color: @mauve;
}

#pulseaudio {
  color: @yellow;
}

#clock {
  color: @lavender;
}

#memory {
  color: @peach;
}

#cpu {
  color: @green;
}

#custom-cava {
  color: @lavender;
}

#tray {
  color: @text;
}

#custom-launcher {
  margin-left: 10px;
  margin-right: 8px;
  padding: 0px 18px 0px 10px;
  font-size: 20px;
  color: @blue;
}

#custom-power {
  margin-right: 10px;
  padding: 0px 14px 0px 10px;
  border-radius: 8px;
  font-size: 20px;
  color: @red;
}

#custom-window {
  color: @flamingo;
}

#custom-wallpaper {
  padding-right: 6px;
  padding-left: 10px;
  color: @flamingo;
}

#custom-spotify,
#custom-media {
  color: @pink;
}

#network.disconnected {
  color: @red;
}
