* {
  border: none;
  border-radius: 0px;
}
window {
  font-size: 18px;
  font-family: JetBrains Mono Nerd Font Mono;
  background: #1e2326;
  color: #7fbbb3;
  padding: 6px;
  margin: 6px;
  border-radius: 0px;
  border: 2px solid #a7c080;
}

#input {
  background: inherit;
  border: none;
  padding: 6px 10px;
  color: #7fbbb3;
  outline-color: red;
  border-color: red;
  border: 1px solid #a7c080;
  border-bottom: 0px;
  border-radius: 0px 0px 0 0;
}

#input:focus {
  outline: 0px;
  border: 1px solid #a7c080;
  border-bottom: 0px;
  caret-color: #a7c080;
}

#entry {
  padding: 6px 10px;
  margin: 0 6px;
}

#entry:selected {
  background: #a7c080;
}

#text:selected {
  color: #1e2326;
}
